---
all:
  vars:
    ansible_user: root
    ansible_python_interpreter: /usr/bin/python3

  children:
    server:
      hosts:
        k3s-server:
          ansible_host: 46.225.134.82
          k3s_role: server
          private_ip: 10.0.1.1
