---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gitlab
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    # REPLACE with your repo URL
    repoURL: https://github.com/JoyoMDEV/homelab-infra.git
    targetRevision: main
    path: k8s/charts/gitlab-omnibus
    helm:
      values: |
        hostname: gitlab.homelab.local
        oidc:
          enabled: true
          issuer: https://auth.homelab.local/realms/homelab
          clientId: gitlab
  destination:
    server: https://kubernetes.default.svc
    namespace: gitlab
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
