apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gitlab-runner
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.gitlab.io
    chart: gitlab-runner
    targetRevision: 0.*
    helm:
      values: |
        gitlabUrl: https://gitlab.homelab.local

        existingSecret: gitlab-runner-secret

        extraEnvFrom:
          CI_SERVER_TOKEN:
            secretKeyRef:
              name: gitlab-runner-secret
              key: runner-token

        rbac:
          create: true

        runners:
          config: |
            [[runners]]
              name = "k3s-instance-runner"
              executor = "kubernetes"
              tls-ca-file = "/home/gitlab-runner/.gitlab-runner/certs/homelab-ca.crt"
              environment = ["GIT_SSL_CAINFO=/etc/ssl/certs/homelab-ca.crt"]
              tags = ["k8s"]
              run_untagged = true
              [runners.kubernetes]
                namespace = "gitlab"
                image = "node:20-alpine"
                pull_policy = "if-not-present"
                [[runners.kubernetes.volumes.secret]]
                  name = "homelab-ca"
                  mount_path = "/etc/ssl/certs/homelab-ca.crt"
                  sub_path = "homelab-ca.crt"
                [[runners.kubernetes.volumes.empty_dir]]
                  name = "repo"
                  mount_path = "/builds"

        resources:
          requests:
            memory: 128Mi
            cpu: 100m
          limits:
            memory: 256Mi

        certsSecretName: homelab-ca

  destination:
    server: https://kubernetes.default.svc
    namespace: gitlab
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
