---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: keycloak
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://codecentric.github.io/helm-charts
    chart: keycloakx
    targetRevision: 2.*
    helm:
      values: |
        replicas: 1
        command:
          - "/opt/keycloak/bin/kc.sh"
          - "start"
          - "--hostname-strict=false"
          - "--http-enabled=true"
          - "--proxy-headers=xforwarded"
        extraEnv: |
          - name: KEYCLOAK_ADMIN
            value: admin
          - name: KEYCLOAK_ADMIN_PASSWORD
            valueFrom:
              secretKeyRef:
                name: keycloak-secret
                key: admin-password
          - name: KC_CACHE
            value: local
          - name: KC_DB
            value: postgres
          - name: KC_DB_URL_HOST
            value: homelab-pg-rw.infrastructure.svc.cluster.local
          - name: KC_DB_URL_PORT
            value: "5432"
          - name: KC_DB_URL_DATABASE
            value: keycloak
          - name: KC_DB_USERNAME
            value: keycloak
          - name: KC_DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: keycloak-db-secret
                key: password
        resources:
          requests:
            memory: 512Mi
            cpu: 250m
          limits:
            memory: 1Gi
        http:
          relativePath: /
        ingress:
          enabled: true
          ingressClassName: traefik
          rules:
            - host: auth.homelab.local
              paths:
                - path: /
                  pathType: Prefix
  destination:
    server: https://kubernetes.default.svc
    namespace: auth
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
